{% load static %}

<img src="{% static '/society/images/main_image.jpg' %}" style="float:right">

<h1>Django Society 2021</h1>

<br>

<p>Description: A high-level Python Web framework society created in 2021.</p>
<p>Django tutorials for entry-level and experienced developers of various technologies like Python, Java, JavaScript, and Web. These are beginner, intermediate, and advanced level tutorials of Django that cover topics like HTML, visualization, and getting data from clients. A fun way to experience and learn a great new technology. Join us today! </p>

<br>
<div style="margin-left: 20%">
<form action='events/' method='GET' style="float:left;margin: 10px">
<button type='submit'>Events</button>
</form>
<form action='groups/' method='GET' style="float:left;margin: 10px">
<button type='submit'>Groups</button>
</form>
<form action='people/' method='GET' style="float:left;margin:10px">
<button type='submit'>People</button>
</form>
</div>